<div class="text-center">
    <h1 class="display-4">Welcome to Your Music Collection Library!</h1>
</div>

<p>
    <a asp-controller="Albums" asp-action="Add">Add Album</a>
</p>

<p>
    <a asp-controller="Albums" asp-action="Delete">Delete Album</a>
</p>

@if (ViewBag.albums.Count == 0)
{
    <p>No albums in your collection yet!</p>
}

else
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Artist's First Name
            </th>
            <th>
                Artist's Last Name
            </th>
            <th>
                Group Name
            </th>
            <th>
                Album Title
            </th>
            <th>
                Genre Type
            </th>
            <th>
                Album Format
            </th>
        </tr>

        @foreach (var album in ViewBag.albums)
        {
        <tr>
            <td>@album.Id</td>
            <td>@album.FirstName</td>
            <td>@album.LastName</td>
            <td>@album.GroupName</td>
            <td>@album.AlbumTitle</td>
            <td>@album.Genre</td>
            <td>@album.Format</td>
        </tr>
        }
    </table>
}